.search-bar {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
}

.search-bar form {
    display: flex;
    flex-direction: column;
}

.search-bar label {
    margin-bottom: 10px;
}

.search-bar input {
    padding: 5px;
}